name: Tests

on: [push, pull_request]

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [11, 17]
    name: Java ${{ matrix.java-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          cache: maven

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
          key: maven-${{ hashFiles('**/pom.xml') }}-java-${{ matrix.java-version }}
          restore-keys: |
            maven-${{ hashFiles('**/pom.xml') }}-java-${{ matrix.java-version }}
            maven-${{ hashFiles('**/pom.xml') }}
            maven-

      - name: Verify
        run: mvn --batch-mode --update-snapshots test